
.product-image {
    padding: 0;
}

.image-thumbnails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 13px;
    margin-top: 13px;

    .active {
        border: 2px solid black;
    }
}

.image-thumbnail {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 2px solid lightgray;

    &:hover {
        border: 2px solid #000;
    }
}